<div id="topic-title">
  <div class="container">
    <div class="title-wrapper">
        <h1>Login Success</h1>
    </div>
  </div>
</div>
<p><a href="<%= @login_url %>" class="btn btn-primary"><i class="fa fa-sign-in"></i> Click here to login to Herrd</a></p>
